bin/
build/
build*/
*.spv

.vs/*
.vscode/*
!.vscode/launch.json
.idea/*

.cache/
.DS_Store
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
cmake_uninstall.cmake
